@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-cream: #fcf2dc;
  --color-sand: #f5e6c2;
  --color-olive: #7f753a;
  --color-olive-light: #a59846;
  --color-olive-dark: #484228;
  --color-peach: #dfaa80;
  --color-peach-light: #e7c09d;
  --color-brown: #2e2520;
  --color-brown-muted: #43352e;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: transparent;
  --color-current: currentColor;
}

@theme inline {
  --font-sans: var(--font-poppins);
}

@layer base {
  html {
    font-size: 1.12vw;
  }
}
